<div class="page-loader-wrapper" style="display: none;background-color: aquamarine;">
    <div class="loader">
        <div class="m-t-30"><img class="zmdi-hc-spin" src="../images/logo.svg" width="48" height="48" alt="Oreo"></div>
    </div>
</div>
<div class="overlay"></div> 
<nav class="navbar p-l-5 p-r-5" style="background-color:#244c89;">
    <ul class="nav navbar-nav navbar-left container">
        <li>
            <div class="navbar-header pt-2 pb-2">
                <a class="navbar-brand" href="#!">
                    <img src="./assets/images/white-logo.png" alt="" width="360" height="51px">
                </a>
            </div>
        </li>

        <li class="float-right"> <a routerLink="/login" class="mega-menu" data-close="true" (click)="clearSession()"><i
                    class="zmdi zmdi-power"></i> Logout</a></li>
        
        
       


       

      
    </ul>
</nav>