
a{
	color: #333;
}
.v-mid{
	vertical-align: middle;
}
.link-pointer{
	cursor: pointer;
}
.block-header{
	padding: 30px 15px;
}
.change-box{
	border:1px solid #f2f2f2;
	margin: 30px 0px;
}
.change-heading{
	background-color: #34afb4!important;
	color: #fff;
	font-size: 20px;
	padding: 15px 20px;

}

.theme-cyan .nav-tabs .nav-link.active {
    border: 1px solid #34afb4 !important;
    background: #53b0b4;
    color: #fff;
    position: relative;
}
.mr-2{
  background-color: transparent;
  border: 1px solid #E3E3E3;
  border-radius: 5px;
  color: #2c2c2c;
  line-height: normal;
  font-size: .8571em;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  box-shadow: none;
  width: auto;
  /* margin-top: 6px; */
  float: left;
  padding: 10px 12px;
}
.mr-22 { width: 200px!important; }
.zz {
  position: absolute!important;
    top: 10px;
    padding: 3px 6px;
    border-radius: 50%;
    background-color: #CCC;
    color: black;
    /* line-height: 30px; */
    border: none;
    margin-left: -5px;
 
}
.r{    float: right;
  margin-top: -51px;}
.mob-t-h{ margin-right: 5px;}
.ml-l-20{ margin-left: 20px!important;}
.gimg img{width: 100px;}


.theme-cyan .nav-tabs .nav-link.active:after {
  bottom: 100%;
  right: 9%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(213, 152, 136, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px; }
.theme-cyan .nav-tabs .nav-link.active:after, .theme-cyan .nav-tabs .nav-link.active:before {
  bottom: -4%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }
.theme-cyan .nav-tabs .nav-link.active:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 11px;
  margin-left: -11px; }
.theme-cyan .nav-tabs .nav-link.active:before {
  border-color: rgba(238, 238, 238, 0);
  border-bottom-color: #ccc;
  border-width: 11px;
  margin-left: -11px; }


  .block-header .text-muted{
  	color: #fff!important;
  }
  .theme-cyan .btn-primary{
  	color: #fff!important;
  }


  .authentication .card-plain.card-plain .form-control, .authentication .card-plain.card-plain .form-control:focus{
    color: #212121;
  }

  .custom-frm-heading{
    text-transform: capitalize;
    color: #34afb4;
    font-size: 18px;
    border-left: 5px solid #34afb4;
    padding-left: 10px;
  }
  .custom-frm-heading-mini{
    text-transform: capitalize;
    color: #34afb4;
    font-size: 16px;
    border-left: 5px solid #34afb4;
    padding-left: 10px;
    margin-bottom: 15px;
  }
  label{
    font-weight: 600;
  }
  .fs-16{
    font-size: 16px;
    font-weight: 600;
  }
  .view-mode{
    background-color: #fbfbfb;
    padding: 15px;
    border-radius: 5px;
    border:1px solid #f5f5f5;
    margin-bottom: 20px;
    font-size: 12px;
  }
  .view-mode label{
    line-height: normal;
  }
  textarea.form-control{
  border: 1px solid #E3E3E3;
}

.btn-default:hover{
  color: #fff;
  background-color: #333;
}
.ml50{ margin-left: 80px;}
.w110{width: 127px!important;}
