.sidebar .logo:after {
    content: "";
    position: absolute;
    bottom: 4px !important;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background-color: rgba(180, 180, 180, 0.3);
}

.sidebar .nav {
    margin-top: 2px !important;
    display: block;
}

.isMobileMenu{
    display: none;
}